.page_search_users {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.row_users {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
